{% extends 'layout.html' %} {% block body %}

<style>
  .result {
    margin-top: 20px;
  }
  .content {
    display: flex;
  }
  .result h4 i {
    color: lightseagreen;
  }

  .defs {
    font-size: 18px;
    font-family: sans-serif;
  }

  .def-div {
    margin-top: 20px;
  }
</style>

<div class="jumbotron text-center">
  <h1>Dictionary App</h1>
  <p class="lead">Created by Ishaan, Param and Bharadwaj.</p>
</div>
<div class="container">
  <form action="#" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Search for a word:</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter word"
        name="word"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="result container">
  {% if Word %}
  <h3>{{ Word }}</h3>
  {% endif %}
  <h4>
    {% for x in Type %}
      <i>{{ x }}, </i>
    {% endfor %}
  </h4>
  <div class='content'>
    <div class='def-div'>
      {% if Def %}
      <h5>Definitions</h5>
        {% for x in Def %}
          <p class='defs'>{{ x }}</p>
        {% endfor %}
      {% else %}
        <p>Word not found.</p>
      {% endif %}
    </div>
    <div class="examples">
      {% if Ex %}
        <h5>Examples</h5>
        {% for example in Ex %}
        <p class="defs">{{ example }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
