{% extends 'layout.html' %}

{% block body %}

    <div class='jumbotron text-center'>
        <h1>Dictionary App</h1>
        <p class="lead">Created by Ishaan, Param and Bharadwaj.</p>
    </div>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Search for a word:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter word">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}